/*标题title------------------------------*/
.title{
    padding: 20px 0;
}
.title h3{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}
.title .f_left a{
    display: inline-block;
    margin-left: 24px;
    font-size: 12px;
}
.title .f_left span{
    display: inline-block;
    margin-left: 24px;
    font-size: 12px;
}
.title .f_right{
    font-size: 12px;
    line-height: 24px
}
.title .f_right span{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin-right: 10px;
}
.title .f_right .dongtai{
    padding-left: 28px;
    position: relative;
}
.title .f_right .dongtai::before{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 6px;
    background: url("../images/spirit.png") -475px -89px;
}
.title .f_right .more{
    padding-right: 20px;
    position: relative;
}
.title .f_right .more::after{
    content: '';
    width: 12px;
    height: 13px;
    position: absolute;
    left: 32px;
    top: 6px;
    background: url("../images/spirit.png") -475px -217px;
}
.title .title-tab:hover {
    color: #00A1D6;
    border-bottom: 1px solid #00A1D6;
}
/*视频video---------------------------*/
.video{
    margin-top: 12px;
    font-size: 12px;
}
.video li{
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.video li img {
    display: block;
    width: 160px;
    height: 100px;
    margin-bottom: 8px;
}
.video li p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
/*.video li:hover p{
    height: 40px;
}*/
.video .up{
    position: absolute;
    padding-bottom: 8px;
    bottom: 0;
    height: 20px;
    background-color: #fff;
}
.video .up .up1{
    width: 60px;
    padding-left: 20px;
}
.video .up .up1::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 1px;
    top: 1px;
    background: url("../images/spirit.png") -282px -90px;
}
.video .up .up2{
    width: 60px;
    padding-left: 20px;
}
.video .up .up2::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 81px;
    top: 1px;
    background: url("../images/spirit.png") -282px -218px;
}

/*每个模块中右边的排行部分*/

.main-rank .rank-title{
    width: 260px;
    padding-top: 38px;
}
.main-rank .rank-title h4{
    display: inline-block;
    width: 36px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-rank .rank-title ul{
    display: inline-block;
    padding-left: 20px;
    height: 24px;
}
.main-rank .rank-title ul li {
    line-height: 24px;
    display: inline-block;
    font-size: 12px;
}
.main-rank .ranking{
    padding-top: 20px;
    width: 260px;
    /*height: 313px;*/
}
.main-rank .ranking ul{
    padding-bottom: 15px;
}
.main-rank .ranking li {
    position: relative;
    height: 18px;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 12px;
    width: 235px;
    overflow: hidden;
}
.main-rank .ranking li:nth-child(1){
    height: 50px;
    margin: 0;
}
.main-rank .ranking li:nth-child(1) a{
    display: block;
    height: 50px;
}
.main-rank .ranking li a{
    display: block;
}
.main-rank .ranking img{
    width: 80px;
    height: 50px;
    float: left;
}
.main-rank .ranking p{
    padding-left: 85px;
}
.main-rank .ranking li i{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 18px;
    padding: 0 3px;
    border-radius: 4px;
    background: #f25d8e;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    font-style: normal;
    
}
.main-rank .ranking li:nth-child(n+4) i{
    background-color: #b8c0cc;
}
.main-rank .ranking .ranking-more{
    display: block;
    width: 260px;
    height: 24px;
    background-color: #e5e9ef;
    color: #222;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
.main-rank .ranking .ranking-more:hover{
    background-color: #ccd0d7;
    color: #222;
}
