/*首页独占的样式表文件*/


/*头部------------------------------------------------------------------------*/

.header {
    height: 42px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header>.container {
    height: 42px;
    line-height: 42px;
}

.header li {
    float: left;
    padding: 0 15px;
}
.header li a{
    height: 42px;
}
.header li>.top-number::after{
    content: "10";
    height: 14px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #eee;
    background-color: #DC5481;
    border-radius: 7px;
    width: 20px;
    position: absolute;
    top: 8px;
}
.header .special-tougao{
    background-color: #DC5481;
    height: 48px;
    border-radius: 0 0 6px 6px;
}
.header .special-tougao a{
    color: #eee;
}
/*广告栏----------------------------------------------------------------------*/

.banner {
    width: 100%;
}

.banner img {
    position: relative;
    left: 50%;
    margin-left: -960px;
}
.banner .logo{
    background: url("../images/logo.png");
    width: 220px;
    height: 105px;
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 50%;
    margin-left: -470px;

}

/*focus焦点-------------------------------------------------------------------*/
/*副标题----------------------------------*/
.focus .sub-nav {
    height: 46px;
    line-height: 14px;
    margin-top: 16px;
}

.focus .sub-nav li {
    float: left;
    position: relative;
    padding: 14px 11px;
}
.focus .sub-nav li:nth-child(1){
    padding-left: 0;
}
.focus .sub-nav li .sub-number::before{
    content: "999";
    height: 14px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #eee;
    background-color: #FFB3CC;
    border-radius: 4px;
    padding: 0 4px;
    position: absolute;
    top: -2px;
}

/*轮播图---------------------------------*/
.focus .slider {
    width: 440px;
    height: 220px;
    border-radius: 6px;
    background-color: #ccc;
}
/*热点视频------------------------------*/

.focus .hot-video li {
    float: left;
    width: 160px;
    height: 100px;
    margin-left: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.focus .hot-video li:nth-last-child(-n+3) {
    margin-top: 20px;
}

.focus .hot-video li a {
    display: block;
}

.focus .hot-video li img {
    display: block;
    width: 160px;
    height: 100px;
}

/*推广------------------------------------------------------------------------*/
.tuiguang{
    margin-top: 42px;
}
/*标题------------------------------*/
/*推广视频---------------------------*/
.tuiguang .tuiguang-video{
    margin-top: 12px;
}
.tuiguang .tuiguang-video li{
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.tuiguang .tuiguang-video li img {
    display: block;
    width: 160px;
    height: 100px;
    margin-bottom: 8px;
}
.tuiguang .tuiguang-video li p{
    font-size: 12px;
    line-height: 20px;
}
.tuiguang .tuiguang-banner{
    float: right;
    width: 260px;
    height: 150px;
    overflow: hidden;
    border-radius: 3px;
}

/*--------------------------------------------------------------------------------------*/
.jiazi{
    background-color: rgba(51, 225, 242, 0.3);
    height: 500px;
}
