/*首页独占的样式表文件*/


/*头部------------------------------------------------------------------------*/

.header {
    height: 42px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header>.container {
    height: 42px;
    line-height: 42px;
}

.header li {
    float: left;
    padding: 0 12px;
}
.header li a{
    height: 42px;
}
.header .special-tougao{
    background-color: #DC5481;
    height: 48px;
    border-radius: 0 0 6px 6px;
}
.header .special-tougao a{
    color: #eee;
}
/*广告栏----------------------------------------------------------------------*/

.banner {
    width: 100%;
}

.banner img {
    position: relative;
    left: 50%;
    margin-left: -960px;
}


/*focus焦点-------------------------------------------------------------------*/
/*副标题----------------------------------*/
.focus .sub-nav {
    height: 46px;
    line-height: 14px;
    margin-top: 14px;
}

.focus .sub-nav li {
    float: left;
    padding: 14px;
}

/*轮播图---------------------------------*/
.focus .slider {
    width: 440px;
    height: 220px;
    border-radius: 6px;
    background-color: #ccc;
}
/*热点视频------------------------------*/

.focus .hot-video li {
    float: left;
    width: 160px;
    height: 100px;
    margin-left: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.focus .hot-video li:nth-last-child(-n+3) {
    margin-top: 20px;
}

.focus .hot-video li a {
    display: block;
}

.focus .hot-video li img {
    display: block;
    width: 160px;
    height: 100px;
}

/*推广------------------------------------------------------------------------*/
.tuiguang{
    margin-top: 42px;
}
/*标题------------------------------*/
/*推广视频---------------------------*/
.tuiguang .tuiguang-video{
    margin-top: 12px;
}
.tuiguang .tuiguang-video li{
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.tuiguang .tuiguang-video li img {
    display: block;
    width: 160px;
    height: 100px;
    margin-bottom: 8px;
}
.tuiguang .tuiguang-video li p{
    line-height: 26px;
}

/*--------------------------------------------------------------------------------------*/
.jiazi{
    background-color: rgba(51, 225, 242, 0.3);
    height: 500px;
}
