<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="bilibili是国内知名的视频弹幕网站，这里有最及时的动漫新番，最棒的ACG氛围，最有创意的Up主。大家可以在这里找到许多欢乐。">
    <meta name="keywords" content="B站,弹幕,字幕,AMV,MAD,MTV,ANIME,动漫,动漫音乐,游戏,游戏解说,ACG,galgame,动画,番组,新番,初音,洛天依,vocaloid">

    <title>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
    <link rel="shortcut icon" href="./favicon.ico">

    <!-- <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/index_base.css">
    <link rel="stylesheet" href="./css/index.css">

    <script src="./lib/jQuery/jquery.js" charset="utf-8"></script>
    <script src="./lib/angular/angular.js" charset="utf-8"></script>

</head>

<body ng-app="load">
    <!-- 头部 -->
    <header class="header">

        <div class="container">
            <!-- 主站，画友，游戏中心，直播，周边，BML -->
            <div class="public-left">
                <ul class="f_left">
                    <li><a href="#" class="xiaodianshi">主站</a></li>
                    <li><a href="javascript:;">画友</a></li>
                    <li><a href="javascript:;">游戏中心</a></li>
                    <li><a href="javascript:;">直播</a></li>
                    <li><a href="javascript:;">周边</a></li>
                    <li><a href="javascript:;">BML</a></li>
                </ul>
            </div>
            <!-- 用户（登录，注册），消息，动态，收藏夹，[历史]，&投稿 -->
            <div class="private-right">
                <ul class="f_right">
                    <li><a href="javascript:;">登录/注册</a></li>
                    <li><a id="top_message" class="top-number" href="javascript:;">消息</a></li>
                    <li><a id="top_active" class="top-number" href="javascript:;">动态</a></li>
                    <li><a href="javascript:;">收藏夹</a></li>
                    <li><a href="javascript:;">历史</a></li>
                    <li class="special-tougao"><a href="javascript:;">投 稿</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 广告栏 -->
    <div class="banner clearfix">
        <!-- 图片广告，还缺少一个biibili的logo -->
        <div class="added">
            <div class="logo"></div>
            <img src="images/banner.jpg" alt="和哆啦A梦一起，回到7万年前的日本探险把！" title="和哆啦A梦一起，回到7万年前的日本探险把！">
        </div>
        <!-- 浮在上面的一个搜索栏和排行榜按钮，可以考虑是不是用before实现 -->
        <div class="search">
            <div class="hot-list f_left">
                <span>排行榜</span>
            </div>
            <input type="search" class="search-input f_left" id="search_input">
            <span class="big-glass"></span>
        </div>
    </div>
    <!-- 焦点： 副导航栏，轮播图，推荐的6个视频 -->
    <div class="focus clearfix">
        <div class="container">
            <!-- 副导航栏 -->
            <!-- 首页 动画 番剧 音乐 舞蹈 游戏 科技 生活 鬼畜 时尚 广告 娱乐 影视-->
            <div class="sub-nav f_left">
                <ul>
                    <li><a href="javascript:;">首页</a></li>
                    <li><a id="video_count_1" class="sub-number" href="javascript:;">动画</a></li>
                    <li><a id="video_count_2" class="sub-number" href="javascript:;">番剧</a></li>
                    <li><a id="video_count_3" class="sub-number" href="javascript:;">音乐</a></li>
                    <li><a id="video_count_4" class="sub-number" href="javascript:;">舞蹈</a></li>
                    <li><a id="video_count_5" class="sub-number" href="javascript:;">游戏</a></li>
                    <li><a id="video_count_6" class="sub-number" href="javascript:;">科技</a></li>
                    <li><a id="video_count_7" class="sub-number" href="javascript:;">生活</a></li>
                    <li><a id="video_count_8" class="sub-number" href="javascript:;">鬼畜</a></li>
                    <li><a id="video_count_9" class="sub-number" href="javascript:;">时尚</a></li>
                    <li><a id="video_count_10" class="sub-number" href="javascript:;">广告</a></li>
                    <li><a id="video_count_11" class="sub-number" href="javascript:;">娱乐</a></li>
                    <li><a id="video_count_12" class="sub-number" href="javascript:;">影视</a></li>
                </ul>
            </div>
            <!-- 广场 直播 链接 -->
            <div class="live-gaungchang f_left">
                <a href="javascript:;">广场</a>
            </div>
            <div class="live-live f_left">
                <a href="javascript:;">直播</a>
            </div>
            <!-- 卖萌动图  手机app二维码 -->
            <div class="f_right">
                <div class="maimeng f_left">
                    <img src="{{ data.active[ data.random ] }}" alt="今天也是萌萌哒">
                </div>
                <div class="app-box f_left">
                    <a href="javascript:;"></a>
                    <div class="app-erweima" id="app_erweima">
                        <img src="./images/app-box.png" alt="">
                        <img class="app-qrcode" src="./images/app-qrcode.png" alt="">
                    </div>
                </div>
            </div>
            <!-- 轮播图 440x220-->
            <div class="slider f_left">
                <ul>
                    <li ng-repeat="slider in data.slider">
                        <a href="javascript:;">
                            <img src="{{slider.src}}" alt="slider.text">
                        </a>
                    </li>
                </ul>
                <ol>
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
            <!-- 推荐视频  160x100 ,margin 20 border-radius 3-->
            <div class="hot-video">
                <ul>
                    <li ng-repeat="video in data.hot">
                        <a href="javascript:;"><img src="{{video.src}}" alt="" /></a>
                        <div class="des">
                            <span ng-bind="video.text"></span>
                            <span ng-bind="video.num1"></span>
                            <span ng-bind="video.num2"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 推广部分，视频广告 -->
    <div class="tuiguang">
        <div class="container clearfix">
            <div class="title clearfix">
                <div class="f_left">
                    <a href="javascript:;" class="tuiguangtubiao"><h3>推广</h3></a>
                    <span>天下第一魂歌会！</span></div>
                <div class="f_right">
                    <div class="special-title">在线人数：<strong>xxx</strong>   最新投稿：<strong>xxx</strong></div>
                </div>
            </div>
            <!-- video模块 -->
            <div class="video">
                <ul>
                    <li ng-repeat="video in data.tuiguang">
                        <a href="javascript:;"><img src="{{video.src}}" alt="" />
                            <p ng-bind="video.text"></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tuiguang-banner">
                <a href="javascript:;"><img src="./images/banner-tuiguang.jpg" title="装甲联盟"></a>
            </div>
        </div>
    </div>
    <!-- 主体部分，分栏： 左边各个main-video； 右边各个main-hot。 -->
    <!-- 直播 -->
    <div class="main clearfix">
        <div class="container">
            <div class="sub-banner">
                <img src="./images/banner1.jpg" alt="">
            </div>
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="zhengzaizhibo"><h3>正在直播</h3></a>
                        <span>当前共有<i>6679</i>个直播</span>
                    </div>
                    <div class="f_right">
                        <span class="dongtai"><strong>3646</strong>条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.zhibo">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="zhibo-banner">
                        <img src="./images/zhibo-banner.jpg@.webp" alt="">
                        <p>红叶祭二阶开放啦！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 动画 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>动画</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">

                    </div>
                    <div class="tab_2">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 番剧 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>番剧</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">

                    </div>
                    <div class="tab_2">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 音乐 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>音乐</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 舞蹈 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>舞蹈</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 游戏 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>游戏</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 科技 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>科技</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 生活 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>生活</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 鬼畜 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>鬼畜</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 时尚 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>时尚</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 广告 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>广告</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 娱乐 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>娱乐</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 电影 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>电影</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 电视剧 -->
    <div class="main clearfix">
        <div class="container">
            <div class="main-video f_left">
                <div class="title clearfix">
                    <div class="f_left">
                        <a href="javascript:;" class="donghua"><h3>电视剧</h3></a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(1)">有新动态</a>
                        <a href="javascript:;" class="title-tab" ng-click="actions.newUp(2)">最新投稿</a>
                    </div>
                    <div class="f_right">
                        <span class="dongtai">3646条动态</span>
                        <span class="more">更多</span>
                    </div>
                </div>
                <!-- video模块 -->
                <div class="video">
                    <ul>
                        <li ng-repeat="video in data.donghua">
                            <a href="javascript:;"><img src="{{video.src}}" alt="" />
                                <p ng-bind="video.text"></p>
                                <div class="up">
                                    <span class="up1 f_left" ng-bind="video.num1"></span>
                                    <span class="up2 f_right" ng-bind="video.num2"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-rank f_right">
                <div class="tab">
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="tab_1">
    
                    </div>
                    <div class="tab_2">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="footer clearfix">
        <div class="container">
            <div class="left f_left">
                    <div>Bilibili</div>
                    <a>关于我们</a>
                    <a>友情链接</a>
                    <a>哔哩哔哩周边</a>
                    <a>我们联系</a>
                    <a>加入我们</a>
            </div>
            <div class="middle f_left">
                    <div>传送门</div>
                    <a>帮助中心汇报</a>
                    <a>高级弹幕</a>
                    <a>活动专题页</a>
                    <a>侵权申诉</a>
                    <a>分院帽计划</a>
                    <a>活动中心</a>
                    <a>建议/BUG</a>
                    <a>壁纸站</a>
                    <a>名人堂</a>
            </div>
            <div class="right f_right" >
                <div>
                    <p>app下载</p>
                </div>
                <div>
                    <p>新浪微博</p>
                </div>
                <div>
                    <p>官方微信</p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- <script src="./lib/bootstrap/js/bootstrap.js"></script> -->
    <script src="./js/index_ang.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>
